<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Панель управления</title>
</head>

<body>
{% include "header.html" %}
<h3>
    <a href="/create_teacher_page">Создать страницу преподавателя</a>
</h3>
</body>