<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Создать страницу преподавателя</title>
</head>

<body>
{% include "header.html" %}
<div style="text-align: center; vertical-align: middle">
    <h3 class="title">Информация о преподавателе</h3>
    <div class="box">
        {% if message %}
        <div class="notification is-danger">
            {{ message }}
        </div>
        {% endif %}
        <form id="teacher_info" method="POST" action="/create_teacher_page">
            <h3>ФИО</h3>
            <textarea placeholder="ФИО преподавателя" name="name" cols="80" rows="1" form="teacher_info"></textarea>
            <h3>Учёное звание</h3>
            <textarea placeholder="Учёное звание преподавателя" name="academic_rank" cols="80" rows="1"
                      form="teacher_info"></textarea>
            <h3>Изображение профиля</h3>
            <textarea placeholder="Ссылка на изображение" name="image_link" cols="80" rows="1"
                      form="teacher_info"></textarea>
            <h3>Курсы</h3>
            <textarea placeholder="Названия курсов, используйте ; в качестве разделителя" name="courses" cols="80"
                      rows="7" form="teacher_info"></textarea>
            <h3>Общая информация</h3>
            <textarea placeholder="Биография, опыт работы или преподавания и т. д." name="bio" cols="80" rows="7"
                      form="teacher_info"></textarea>
            <p>
                <button class="button is-block is-info is-large is-fullwidth">Создать страницу</button>
            </p>
        </form>
    </div>
</div>
</body>
