<header>
    <div style="text-align: right">
    <a href="/search">На главную</a>
    {% if admin %} | <a href="/admin">Панель управления</a>{% endif %}
     | <a href="/user/{{ viewer.name }}">{{ viewer.name }}</a>
     | <a href="/logout">Выйти</a>
    </div>
</header>