<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Index</title>
</head>
<body>
<header></header>
<div style="text-align: center; vertical-align: middle">
    <p>
        <a href="/login">Войти</a>
    </p>
    <p>
        <a href="/signup">Зарегистрироваться</a>
    </p>
</div>
</body>
