<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Войти</title>
</head>
<body>
<header></header>
<div style="text-align: center; vertical-align: middle">
    <h3 class="title">Авторизация</h3>
    <div class="box">
        {% if message %}
        <div class="notification is-danger">
            {{ message }}
        </div>
        {% endif %}
        <form method="POST" action="/login">
            <div class="field">
                <div class="control">
                    <input class="input is-large" name="username" placeholder="Имя пользователя" autofocus="" maxlength="20">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="Пароль" maxlength="20">
                </div>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Войти</button>
        </form>
        <a href="/signup">Создать аккаунт</a>
    </div>
</div>
</body>
