<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Найти преподавателя</title>
</head>
<body>
{% include "header.html" %}
<div style="text-align: center; vertical-align: middle">
    <h3 class="title">Поиск преподавателей</h3>
    <div class="box">
        {% if message %}
        <div class="notification is-danger">
            {{ message }}
        </div>
        {% endif %}
        <form action="/search">
            <div class="field">
                <div class="control">
                    <input class="input is-large" name="teacher_name" placeholder="ФИО" autofocus="">
                </div>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Найти</button>
        </form>
    </div>
</div>
</body>
