<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Результаты поиска по запросу {{ query }}</title>
</head>
<body>
{% include "header.html" %}
<div>
    <h2 class="title">Результаты поиска по запросу {{ query }}</h2>
    {% if not_found %}
    <p>
        По вашему запросу ничего не нашлось
    </p>
    {% else %}
    {% for teacher in results %}
    <img src="{{ teacher.image_link }}">
    <h3>
        <a href="/teacher/{{ teacher.id }}">{{ teacher.name }}</a>
    </h3>
    <h4>
        {{ teacher.academic_rank }}
    </h4>
    {% endfor %}
    {% endif %}
</div>
</body>
