<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Зарегистрироваться</title>
</head>
<body>
<header></header>
<div style="text-align: center; vertical-align: middle">
    <h3 class="title">Регистрация</h3>
    <div class="box">
        {% if message %}
        <div class="notification is-danger">
            {{ message }}
        </div>
        {% endif %}
        <form method="POST" action="/signup">
            <div class="field">
                <div class="control">
                    <input class="input is-large" name="username" placeholder="Имя пользователя" autofocus="" maxlength="20">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="Пароль" maxlength="20">
                </div>
            </div>
            <button>Создать аккаунт</button>
        </form>
        <a href="/login">Войти</a>
    </div>
</div>
</body>
