<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ teacher.name }}</title>
</head>

<body>
{% include "header.html" %}
<div id="main">
    <h1 class="title">
        {{ teacher.name }}
    </h1>
    <h2>
        {{ teacher.academic_rank }}
    </h2>
    <img src="{{ teacher.image_link }}">
    <h2>Рейтинг</h2>
    <p>
        {{ teacher.rating }}
    </p>
    <h2>Информация</h2>
    <p style="white-space: pre-line;">{{ teacher.bio }}</p>
    <h2>Курсы</h2>
    {% for course in teacher.courses %}
    <p>
        {{ course }}
    </p>
    {% endfor %}
    <h2>Комментарии</h2>
    {% for comment in comments %}
    <div id="comment_{{ comment.id }}">
        <h4>
            <a href="/user/{{ comment.author }}">{{ comment.author }}</a> | {{ comment.time }}{% if admin or viewer.name == comment.author %} | <a href="/delete_comment?comment_id={{ comment.id }}&teacher_id={{ teacher.id }}">Удалить комментарий</a> {% endif %}
        </h4>
    </div>
    <p style="white-space: pre-line;">{{ comment.text }}</p>
    {% endfor %}
    <h3>Добавить комментарий</h3>
    <form id="comment" action="/post_comment?teacher_id={{ teacher.id }}" method="POST">
        <p>
            <textarea placeholder="Ваш очень важный комментарий" name="comment" cols="80" rows="7"
                      form="comment"></textarea>
        </p>
        <p>
            <input type="submit" value="Опубликовать" form="comment">
        </p>
    </form>
</div>
</body>