<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ user.name }}</title>
</head>

<body>
{% include "header.html" %}
<h1>
    {{ user.name }}
</h1>
<p>
    {{ user.role }}
</p>
<p>
    Число комментариев: {{ user.comments_count }}
</p>
{% if hidden %}
<h6>
    Комментарии рользователя скрыты
</h6>
{% endif %}
<p>
    Зарегистрирован {{ user.signup_date }}
</p>
</body>